* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.signup-pp-preview {
  object-fit: cover !important;
}

@media screen and (max-width: 1220px) {
  #SearchEvent {
    text-align: center;
  }
  .SearchContainer {
    display: flex !important;
    flex-direction: column-reverse !important;
    align-items: center !important;
  }
  .CircleImg {
    justify-content: center;
  }
}